body {
	background: #99CCCC;
	height: 100%;
	font-family: 'Amiko', sans-serif;
	color: #777;
}

[class*="col-"] {
	/*border: solid red 1px;*/
}

.row {
	/*border: solid green 1px;*/
}

.container {
	/*border: solid yellow 1px;*/
}

.about-me-box {
	background-color: #eeeeee;
	margin-bottom: 35px;
	padding-top: 15px;
	border-radius: 4px;
	box-shadow: 4px 4px 10px #666666;
	-webkit-transition: all .8s ease;
	
}

.about-me-box:hover {
	background-color: #ffffff;
	box-shadow: 8px 8px 20px #666666;
}

aside {
	padding: 15px;
}

img {
	width: 100%;
	height: auto;
	margin: auto;
}

a.navbar-brand {
	font-size: 25px;
}

a:hover {
	text-decoration: none;
}

li.navbox {
	-webkit-transition: all .5s ease-in;
	border-radius: 5px;
}

li.navbox:hover {
	background-color: #ffffff;
	box-shadow: 0px 0px 8px #ffffff;
}

h2 {
	text-align: center;
	color: #eeeeee;
	text-shadow: 2px 2px 4px #555555;
	font-weight: bold;
	margin-bottom: 0px;
}

a:focus {
	text-decoration: none;
}

.navbar {
	border-radius: 0px;
	box-shadow: 5px 5px 15px #555555;
	font-family: 'Ubuntu', sans-serif;
	background-color: #eeeeee;
	-webkit-transition: all .5s ease;
	margin-bottom: 25px;
}



/*.container {
	max-width: 980px;
}*/

.contactLinkIcon {
	padding: 15px;
}

.jumbotron {
	border-radius: 0px;
}

.contentBox {
	overflow: auto;
	margin: auto;
	padding: 15px;
	max-width: 500px;

}

.horizontal_divider {

	height: 1px;
	background color: #dddddd;
	border: solid #EEF66C 4px;
	border-radius: 3px;
	margin-bottom: 15px;
	margin-top: 15px;
	box-shadow: 5px 5px 10px #555555;

}

.horDivider {
	width: 1px;
	height: 100%;
	background color: #dddddd;
	border: solid #dddddd 4px;
	border-radius: 4px;
	margin-bottom: 25px;
	box-shadow: 5px 5px 10px #555555;
	display: inline-block;
}

.contactLinkIcon:hover {
}

.well {
	background-color: transparent;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding-left: 0px;
	padding-right: 0px;
}

#bs-example-navbar-collapse-1 {

}

#myPic {
	width: 120px;
	height: auto;
	-webkit-border-radius: 50%; /*Safari*/
	border-radius: 50%;
	margin: 0px 15px 15px 0px;
	float: left;
	box-shadow: 2px 2px 5px #555555;
	-webkit-transition: all .5s ease;
}

#myPic:hover {
	box-shadow: 8px 8px 15px #777777;
	-webkit-filter: brightness(115%);
}

#aboutMeButton {
	height: 50px;
	background-color: #eeeeee;
	border: solid grey 1px;
	border-radius: 4px;
	text-align: center;
	margin-top: 6%;
	line-height: 50px;
	font-size: 15px;
	color: #777777;
	box-shadow: 5px 5px 10px #666666;
}

#contactExpandIcon {
	width: 75%
}


#contactIcon {

	padding: 15px;

	width: 23%;
}

#connectWell {
	background-color: transparent;
	border: none;
	box-shadow: none;
}

.linkBorder {
	border: solid #dddddd 0px;
	border-radius: 3%;
	box-shadow: 5px 5px 10px #555555;
	-webkit-transition: all .5s ease;
}

.contactBorder {
	box-shadow: 5px 5px 10px #555555;
	border-radius: 50%;
}

.linkBorder:hover {
	box-shadow: 8px 8px 20px #555555;
	-webkit-filter: brightness(110%);
}

#about-me-full {
	display: none;
}

@media(max-width:767px){
	.navbar-header {
		-webkit-transition: all .5s ease;
	}
	.navbar-header:hover {
		background-color: #ffffff;
		box-shadow: 8px 8px 20px #666666;
	}
}

@media(min-width:768px){}

@media(min-width:992px){
	#about-me-collapse {
		display: none;
	}
	#about-me-full {
		display: inline-block;
	}
}

@media(min-width:1200px){}
