body {
	background: linear-gradient(90deg, #888888, #777777);
	height: 100%;
}

[class*="col-"] {
	border: solid red 1px;
}

.row {
	border: solid green 1px;
}

.container {
	border: solid yellow 1px;
}

section {
	background-color: none;
	margin-bottom: 35px;
}

aside {
	padding: 15px;
}

img {
	width: 100%;
	height: auto;
	margin: auto;
}

a:hover {
	text-decoration: none;
}

h2 {
	margin: auto;
}

a:focus {
	text-decoration: none;
}

.navbar {
	border-radius: 0px;
	box-shadow: 5px 5px 10px #555555;
}

/*.container {
	max-width: 980px;
}*/

.contactLinkIcon {
	padding: 15px;
	width: 23%;

}

.contentBox {
	overflow: auto;
	margin: auto;
	padding: 15px;
	max-width: 500px;

}

.vertDivider {
	width: 100%;
	height: 1px;
	background color: #dddddd;
	border: solid #dddddd 4px;
	border-radius: 3px;
	margin-bottom: 15px;
	margin-top: 15px;
	box-shadow: 5px 5px 10px #555555;
	display: none;
}

.horDivider {
	width: 1px;
	height: 100%;
	background color: #dddddd;
	border: solid #dddddd 4px;
	border-radius: 3px;
	margin-bottom: 25px;
	box-shadow: 5px 5px 10px #555555;
	display: inline-block;
}

.contactLinkIcon:hover {

}

.well {
	box-shadow: 5px 5px 10px #555555;
}

#myPic {
	width: 66%;
	height: auto;
	border-radius: 50%;
	border-width: 10px;
	border-color: #dddddd;
	margin: 10px;
	box-shadow: 5px 5px 10px #666666;
}

#aboutMeButton {
	height: 50px;
	background-color: #eeeeee;
	border: solid grey 1px;
	border-radius: 4px;
	text-align: center;
	margin-top: 30px;
	line-height: 50px;
	font-size: 15px;
	color: #777777;
	box-shadow: 5px 5px 10px #666666;

}

#contactIcon {

	padding: 15px;

	width: 23%;
}

.linkBorder {
	border: solid #dddddd 0px;
	border-radius: 3%;
	box-shadow: 5px 5px 10px #555555;
	-webkit-transition: box-shadow .8s ease-out;
}

.contactBorder {
	box-shadow: 5px 5px 10px #555555;
	border-radius: 50%;
}

.linkBorder:hover {
	box-shadow: 8px 8px 15px #444444;
}


@media(max-width:767px){

}

@media(min-width:768px){
	#contactIcon {

	}
	.vertDivider {
		display: none;
	}
}
@media(min-width:992px){
	#contactIcon {

		padding: 15px;
		padding-bottom: 35px;


		margin-top: 0px;
		margin-bottom: 0px;
		width: 100%;
	}
	.contentBox {
		width: 50%;
	}

	.contactLinkIcon {
		margin-top: 0px;
		margin-bottom: 0px;		
		padding: 15px;
		width: 100%;
	}

	.vertDivider {
		display: inline-block; 
	}

	.horDivider {
		display: none;
	}
}
@media(min-width:1200px){}
